
#nft{
        font-size: 21px;
    }
    .ch{
        width: 396px;
    }
    .im{
        
    max-width: 210px;
    gap: 3px;
    }
    .mintsale p{
        width: auto;
    }
    .t1{
        margin-right: 48px;
    }