.para p{
        font-size: 10px;
    }
    div .sop{
        margin-left: 80px;
    }
    .img1 img{
        margin-left: 1%;
    }
            .all header .img{
        margin-left: -267px;
        width: 30px;
        padding: 8px;
    }
                .story .whitelist p {
            margin-left: 89px;
            margin-right: 56px;
            width: auto;
            font-size: 11px;
            text-align: justify;
        }
    .Roadmap img {
        width: 314px;
    }
    #half{
       margin-top: -57px;
        margin-left: 106px;
   
    }    #story #pop::after {
        content: "";
        position: absolute;
        transform: translateY(-50%) rotate(90deg);
        width: 292px;
        height: 278px;
        border-radius: 50%;
        box-shadow: 0px -7px 0px 0px #fff;
        margin-left: -187px;
        margin-top: 178px;
        z-index: -1;
    }
            #story #gone {
            margin-top: 122px;
            margin-left: 114px;
        }
            #story #half {
            margin-top: -61px;
            margin-left: 81px;
        }
           .story .half::after {
        content: "";
        position: absolute;
        transform: translateY(-50%) rotate(90deg);
        width: 328px;
        height: 224px;
        border-radius: 50%;
        box-shadow: 0px -7px 0px 0px #fff;
        margin-left: -170px;
        margin-top: 202px;
        z-index: -1;
    }
          .story .op4::after {
        content: "";
        position: absolute;
        transform: translateY(-50%) rotate(270deg);
        width: 343px;
        height: 276px;
        border-radius: 50%;
        box-shadow: 0px -7px 0px 0px #fff;
        margin-left: -213px;
        margin-top: 207px;
        z-index: -1;
    }
         #story #po::after {
            content: "";
            position: absolute;
            transform: translateY(-50%) rotate(90deg);
            width: 262px;
            height: 264px;
            border-radius: 50%;
            box-shadow: 0px -7px 0px 0px #fff;
            margin-left: -154px;
            margin-top: 169px;
            z-index: -1;
        }
     #gone {
        margin-top: 114px;
        margin-left: 131px;
    }
         #og {
        width: 180px;
        font-size: 14px;
    }
         #story div #onof {
        margin-left: 152px;
        width: 145px;
    }
        body .grab{
        margin-left: 121px;
        width: 189px;
        font-size: 12px;
    }
        div #grab {
        margin-left: 179px;
        width: 131px;
        font-size: 12px;
    }
   div #GRAB {
        margin-left: 12px;
        width: 186px;
    }
        div #cj {
        margin-left: 6%;
        width: 280px;
    }    div .ch1 h1 {
        margin-left: 37px;
        width: 136px;
    }
        div .ch1 p {
        margin-left: 35px;
    }
        div .ch1 a {
        margin-left: 27px;
    }    div .ch2 img {
        margin-left: 6%;
        width: 280px;
    }    div .ch2 h1 {
        margin-left: 23px;
    }    div .ch3 img {
        margin-left: 7%;
        width: 280px;
    }    div .ch3 h1 {
        margin-left: 42px;
    }    div #png {
        margin-left: 7%;
        width: 280px;
    }    div .ch4 h1 {
        width: 181px;
        margin-left: -31%;
    }    div #ch6 {
        margin-left: 7%;
        width: 281px;
    }    div .ch5 h1 {
        width: 176px;
        margin-left: -10%;
    }
    .di2 h1 {
        margin-left: 46px;
        font-size: 18px;
    }
    div .How{
        margin-left: 19px;
    }
   div .view p {
        width: auto;
        margin-left: -90px;
        font-size: 10px;
    }
      div  .view h1 {
        width: 300px;
        margin-left: -131px;}
      div  .whitelist h1 {
        width: 252px;
        margin-left: 88px;
    }
  div  .whitelist p {
        width: 300px;
        font-size: 10px;
        margin-left: 88px;
    }    div .mintsale h1 {
        margin-left: 80px;
        width: 231px;
    }   div .mintsale p {
        width: 301px;
        margin-left: 79px;
        font-size: 9px;
    }
        div #nft2 {
            font-size: 10px;
            width: 308px;
            margin-left: -63px;
    }
    div #nft{
        margin-left: -65px    ;
    }
   div .presale h1 {
        font-size: 14px;
        margin-left: 57px;
        width: 300px;
    }
    div .presale p {
        font-size: 9px;
        width: auto;
        margin-left: 55px;
    }.story .transparent .t1 {
            margin: -2px;
        }

    .nav a {
        margin-left: -10px;
    font-size: 0.44rem;
    }
     header     .button{
        margin-left: -24px;
        font-size: 0.4rem;
        width: auto;
     }
         div .op {
        margin-left: 74px;
    }        #qw {
        width: 73px;
        margin-left: 76px;
        margin-top: 23px;
    }
    #nav {
        width: 257px;
        margin-left: 33px;
    }
     .all{
      width: auto;
     }
    
        .story .des{
        width: auto;
        font-size: 10px;
    }
    .story .road{
      width: 307px;
    }
    .story .img1 img{
      margin-left: 8%;
      width: 250px;
    }
    .story .grab{
              margin-left: 84px;
        width: 223px;
        font-size: 14px
    }
        .story #grab {
        margin-left: 144px;
        width: 169px;
        font-size: 14px;
    }
    .story #cj{
        margin-left: 6%;
    }
        .story .ch2 img {
        margin-left: 7%;
    }
        .story .ch3 img {
        margin-left: 6%;
    }
        .story #png {
        margin-left: 6%;
    }
        .story #ch6 {
        margin-left: 22px;
    }
        .story .ch4 h1 {
        width: 225px;
        margin-left: -34%;
    }
        .story .ch5 h1 {
        width: 225px;
        margin-left: -3%;
    }
       .story .ch2 h1 {
        width: auto;
        margin-left: 30px;
    }
    .story .ch1 h1 {
        margin-left: 35px;
        width: 154px;
    }
    .story .ch1 p {
        margin-left: 38px;
    }
    .story .ch1 a {
        margin-left: 31px;
    }
    .frame img {
    margin: 21px;
}
    .footer h1 {
        font-size: 12px;
        width: 149px;
        margin: auto;
        margin-left: -61px;
    }
            div .img1 {
            margin-left: 17px;
        }
         .story .sop {
        width: 87px;
        margin-left: 86px;
        margin-top: -32px;
    }
        .story .op {
        margin-left: 85px;
    }